
#a{
    align-self: auto;
	background-color: #333;
	width: 480px;
    height: 70px;
    line-height: 70px;
}

#b{
    align-self: auto;
	background-color: #555;
	width: 480px;
    height: 150px;
    line-height: 150px;
    
}
#c{
    align-self: auto;
    background-color: #333;
    width: 480px;
    height:125px;
    line-height:125px;
    
}
#d{
    align-self: auto;
    background-color: #555;
    width: 480px;
    height:125px;
    line-height:125px;
    
}
#efgh{
    width: 480px;
    height: 500px;
    display:flex;
    flex-wrap: wrap;
    
}
#e{

    align-self: auto;
    background-color: red;
   
    width: 240px;
    height: 250px;
    line-height:250px;
}
#f{ 
    align-self: auto;
    background-color:blue;
   
    width: 240px;
    height: 250px;
    line-height:250px;
}
#g{ 
    align-self: auto;
    background-color:purple;
   
    width: 240px;
    height: 250px;
    line-height:250px;
}
#h{ 
    align-self: auto;
    background-color:orange;
   
    width: 240px;
    height: 250px;
    line-height:250px;
}

